Repository rjoydip/templ.rj: changes, and which Codecov flags are due for each by the changed paths.
All: build, cli, config, core, logger, utils

🔨 refactor(none): refactor-19 main fn changed with run
  benchmark/src/apps/server.bench.ts
  knip.ts
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/utils/src/index.ts
  packages/utils/src/types.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/check.ts
  scripts/src/ci/env-copy.ts
  scripts/src/ci/env-delete.ts
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  scripts/src/lint/size-limit.ts
  scripts/src/lint/size-report.ts
  scripts/src/lint/type-cov.ts
  scripts/src/shell.ts
  scripts/src/utils.ts
  tools/create/src/app.ts
  tools/create/src/doc.ts
  tools/create/src/pkg.ts
Due: cli, utils

refactor: 19th refactoring (#208)
  .github/workflows/ci.yml
  CHANGELOG.md
  benchmark/src/apps/server.bench.ts
  knip.ts
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/utils/src/index.ts
  packages/utils/src/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/package.json
  scripts/src/check.ts
  scripts/src/ci/env-copy.ts
  scripts/src/ci/env-delete.ts
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  scripts/src/lint/size-limit.ts
  scripts/src/lint/size-report.ts
  scripts/src/lint/type-cov.ts
  scripts/src/shell.ts
  scripts/src/utils.ts
  templ.code-workspace
  tools/.gitkeep
  tools/create/README.md
  tools/create/package.json
  tools/create/src/app.ts
  tools/create/src/doc.ts
  tools/create/src/pkg.ts
  tools/create/tsconfig.json
Due: cli, utils

✨ feat(tools): create server using fastify and hono
  .better-commits.json
  CHANGELOG.md
  apps/web/.gitkeep
  pnpm-lock.yaml
  scripts/src/utils.ts
  templ.code-workspace
  tools/create/package.json
  tools/create/src/shell.ts
  tools/create/src/stacks/app.ts
  tools/create/src/stacks/doc.ts
  tools/create/src/stacks/pkg.ts
  tools/create/src/stacks/server.ts
  tools/create/src/utils.ts
  tools/create/tsconfig.json
Due: none

🧹 chore(none): package update
  pnpm-lock.yaml
Due: none

🧹 chore(none): package version updates entire codebase
  apps/server/package.json
  benchmark/package.json
  package.json
  pnpm-lock.yaml
  templates/basic-ts/package.json
  tools/create/package.json
Due: none

✨ feat(tools): create server using fastify and hono (#209)
  .better-commits.json
  CHANGELOG.md
  apps/server/package.json
  apps/web/.gitkeep
  benchmark/package.json
  package.json
  pnpm-lock.yaml
  scripts/src/utils.ts
  templ.code-workspace
  templates/basic-ts/package.json
  tools/create/package.json
  tools/create/src/shell.ts
  tools/create/src/stacks/app.ts
  tools/create/src/stacks/doc.ts
  tools/create/src/stacks/pkg.ts
  tools/create/src/stacks/server.ts
  tools/create/src/utils.ts
  tools/create/tsconfig.json
Due: none

🔨 refactor(none): refactor-20 unused pkgs, refactor templ pulls
  CHANGELOG.md
  apps/docs/.gitkeep
  benchmark/src/apps/server.bench.ts
  config/knip.ts
  package.json
  pnpm-lock.yaml
  scripts/package.json
  tools/create/package.json
  tools/create/src/stacks/app.ts
  tools/create/src/stacks/doc.ts
  tools/create/src/stacks/pkg.ts
  tools/create/src/stacks/server.ts
  tools/create/src/utils.ts
  tools/templates/basic-js/README.md
  tools/templates/basic-js/package.json
  tools/templates/basic-js/src/index.js
  tools/templates/basic-js/test/index.test.js
  tools/templates/basic-js/types.d.ts
  tools/templates/basic-js/vitest.config.js
  tools/templates/basic-ts/README.md
  tools/templates/basic-ts/package.json
  tools/templates/basic-ts/src/index.ts
  tools/templates/basic-ts/test/index.test.ts
  tools/templates/basic-ts/tsconfig.json
  tools/templates/basic-ts/vitest.config.ts
Due: none

🧹 chore(none): refactor-20 updated package and install prehook
  CHANGELOG.md
  apps/server/package.json
  benchmark/package.json
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  tools/create/package.json
  tools/templates/basic-js/package.json
  tools/templates/basic-ts/package.json
Due: cli, config, core, utils

🔨 refactor(none): unused pkgs, refactor templ pulls (#210)
  CHANGELOG.md
  apps/docs/.gitkeep
  apps/server/package.json
  benchmark/package.json
  benchmark/src/apps/server.bench.ts
  config/knip.ts
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  tools/create/package.json
  tools/create/src/stacks/app.ts
  tools/create/src/stacks/doc.ts
  tools/create/src/stacks/pkg.ts
  tools/create/src/stacks/server.ts
  tools/create/src/utils.ts
  tools/templates/basic-js/README.md
  tools/templates/basic-js/package.json
  tools/templates/basic-js/src/index.js
  tools/templates/basic-js/test/index.test.js
  tools/templates/basic-js/types.d.ts
  tools/templates/basic-js/vitest.config.js
  tools/templates/basic-ts/README.md
  tools/templates/basic-ts/package.json
  tools/templates/basic-ts/src/index.ts
  tools/templates/basic-ts/test/index.test.ts
  tools/templates/basic-ts/tsconfig.json
  tools/templates/basic-ts/vitest.config.ts
Due: cli, config, core, utils

🔨 refactor(none): changelog package changed
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  CHANGELOG.md
  apps/server/package.json
  package.json
  pnpm-lock.yaml
Due: none

🧹 chore(none): package version updated
  CHANGELOG.md
  apps/server/package.json
  benchmark/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  tools/create/package.json
  tools/templates/basic-js/package.json
  tools/templates/basic-ts/package.json
Due: cli, config, core, utils

chore(root): minor change on package json
  package.json
Due: none

chore: refactor changelog (#211)
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  CHANGELOG.md
  apps/server/package.json
  benchmark/package.json
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  tools/create/package.json
  tools/templates/basic-js/package.json
  tools/templates/basic-ts/package.json
Due: cli, config, core, utils

🔨 refactor(none): refactor-21 benchmark, test and server
  .github/workflows/ci.yml
  .vscode/settings.json
  CHANGELOG.md
  apps/server/package.json
  apps/server/src/app.ts
  apps/server/test/api.test.ts
  apps/server/test/mocks/api.ts
  apps/server/test/server.load.ts
  apps/server/tsconfig.json
  benchmark/package.json
  benchmark/src/apps/server.bench.ts
  benchmark/src/utils/path.bench.ts
  codecov.yml
  eslint.config.js
  package.json
  packages/core/vitest.config.ts
  packages/utils/package.json
  packages/utils/test/benchmark/path.bench.ts
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/templates/basic-js/vitest.config.js
  tools/templates/basic-ts/vitest.config.ts
  turbo.json
Due: core, utils

🔨 refactor(none): refactor-21 benchmark, test and server (#212)
  .github/workflows/ci.yml
  .vscode/settings.json
  CHANGELOG.md
  apps/server/package.json
  apps/server/src/app.ts
  apps/server/test/api.test.ts
  apps/server/test/mocks/api.ts
  apps/server/test/server.load.ts
  apps/server/tsconfig.json
  benchmark/package.json
  benchmark/src/apps/server.bench.ts
  benchmark/src/utils/path.bench.ts
  codecov.yml
  eslint.config.js
  package.json
  packages/core/vitest.config.ts
  packages/utils/package.json
  packages/utils/test/benchmark/path.bench.ts
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/templates/basic-js/vitest.config.js
  tools/templates/basic-ts/vitest.config.ts
  turbo.json
Due: core, utils

🔨 refactor(none): refactor-22 resolved load config and unit testing
  apps/server/package.json
  config/knip.ts
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/config/src/load.ts
  packages/config/test/fixtures/.templrc
  packages/config/test/fixtures/cjs/templ.config.cjs
  packages/config/test/fixtures/js/templ.config.js
  packages/config/test/fixtures/json/templ.config.json
  packages/config/test/fixtures/package.json
  packages/config/test/fixtures/templ.config.ts
  packages/config/test/fixtures/theme/config.ts
  packages/config/test/fixtures/ts/templ.config.ts
  packages/config/test/index.test.ts
  packages/config/test/load.test.ts
  packages/core/package.json
  packages/schema/package.json
  packages/schema/src/config/build.ts
  packages/schema/src/config/common.ts
  packages/templ/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/check.ts
  scripts/src/utils.ts
  tools/create/package.json
  tools/templates/basic-js/package.json
  tools/templates/basic-ts/package.json
Due: cli, config, core, utils

🧹 chore(none): refactor-22 package version updated
  apps/server/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/schema/package.json
  packages/templ/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  tools/create/package.json
  tools/templates/basic-js/package.json
  tools/templates/basic-ts/package.json
Due: cli, config, core, utils

🐛 fix(scripts): refactor-22 package path in report table
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/ci/env-copy.ts
  scripts/src/ci/env-delete.ts
  scripts/src/lint/size-limit.ts
  scripts/src/lint/size-report.ts
  scripts/src/lint/type-cov.ts
  scripts/src/utils.ts
Due: none

🔨 refactor(none): build refactor, package version update
  .better-commits.json
  apps/server/package.json
  apps/server/src/index.ts
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/schema/package.json
  packages/templ/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  tools/create/package.json
  tools/templates/basic-js/package.json
  tools/templates/basic-ts/package.json
Due: cli, config, core, utils

🔨 refactor(none): package version update
  apps/server/package.json
  package.json
  packages/schema/package.json
  packages/templ/package.json
  pnpm-lock.yaml
  tools/create/package.json
  tools/templates/basic-ts/package.json
Due: none

🐛 fix(scripts): type coverage issue resolved
  scripts/src/lint/type-cov.ts
Due: none

🐛 fix(scripts): esbuild missing in app/server and upper path
  apps/server/package.json
  pnpm-lock.yaml
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  scripts/src/lint/size-limit.ts
  scripts/src/lint/size-report.ts
Due: none

🧹 chore(none): builder tsup replaced with esbuild
  apps/server/package.json
  packages/config/test/fixtures/templ.config.ts
  packages/config/test/load.test.ts
  packages/schema/src/config/build.ts
  packages/schema/src/types/config.ts
  pnpm-lock.yaml
Due: config

✨ feat(none): simple git hooks added
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

🔨 refactor(none): precommit npm hooks added
  .better-commits.json
  apps/server/package.json
  package.json
  pnpm-lock.yaml
Due: none

🔨 refactor(none): vitest CJS to ESM and changed esbuild too
  apps/server/vitest.config.mts
  packages/config/vitest.config.mts
  packages/core/vitest.config.mts
  packages/core/vitest.config.ts
  packages/utils/vitest.config.mts
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
  tools/generator/templates/basic-js/esbuild.config.js
  tools/generator/templates/basic-js/package.json
  tools/generator/templates/basic-js/vitest.config.js
  tools/generator/templates/basic-js/vitest.config.mjs
  tools/generator/templates/basic-ts/esbuild.config.ts
  tools/generator/templates/basic-ts/package.json
  tools/generator/templates/basic-ts/tsconfig.json
  tools/generator/templates/basic-ts/vitest.config.mts
  tools/generator/templates/basic-ts/vitest.config.ts
Due: config, core, utils

🐛 fix(none): package missing ussing fir CI job in server
  .better-commits.json
  apps/server/package.json
  pnpm-lock.yaml
Due: none

🧹 chore(none): build before lint
  package.json
Due: none

🐛 fix(scripts): path upper first in type coverage report
  scripts/src/lint/type-cov.ts
Due: none

🔨 refactor(packages): config package refactored
  apps/server/.env.sample
  package.json
  packages/config/package.json
  packages/config/src/build.ts
  packages/config/src/get.ts
  packages/config/src/index.ts
  packages/config/src/load.ts
  packages/config/src/schema/app.ts
  packages/config/src/schema/config/app.ts
  packages/config/src/schema/config/build.ts
  packages/config/src/schema/config/common.ts
  packages/config/src/schema/config/dev.ts
  packages/config/src/schema/config/index.ts
  packages/config/src/schema/index.ts
  packages/config/src/schema/root.ts
  packages/config/src/schema/server.ts
  packages/config/src/types.ts
  packages/config/src/vitest.ts
  packages/config/test/fixtures/.templrc
  packages/config/test/fixtures/conf/config.ts
  packages/config/test/fixtures/conf/templ/.templrc
  packages/config/test/fixtures/conf/templ/templ.config.ts
  packages/config/test/fixtures/dev/.env.dev
  packages/config/test/fixtures/dev/config.dev.ts
  packages/config/test/fixtures/dev/config.ts
  packages/config/test/fixtures/rc/.templrc
  packages/config/test/fixtures/templ.config.ts
  packages/config/test/fixtures/theme/config.ts
  packages/config/test/get.test.ts
  packages/config/test/index.test.ts
  packages/config/test/load.test.ts
  packages/config/test/types.test.ts
  pnpm-lock.yaml
Due: config

🐛 fix(none): package update issue
  pnpm-lock.yaml
Due: none

🤖 ci(none): github ci build before lint
  .github/workflows/ci.yml
Due: none

🤖 ci(none): fixed lint job failure before build
  .github/workflows/ci.yml
  .gitpod.yml
  apps/server/vitest.config.mts
  config/.gitpod.Dockerfile
  config/knip.config.ts
  config/vitest.shared.js
  env/.env.sample
  package.json
  packages/config/src/get.ts
  packages/config/vitest.config.mts
  packages/core/vitest.config.mts
  packages/utils/vitest.config.mts
  scripts/package.json
  scripts/src/build/folder-count.ts
  scripts/src/build/size-limit.ts
  scripts/src/build/size-report.ts
  tools/generator/templates/basic-js/vitest.config.mjs
  tools/generator/templates/basic-ts/vitest.config.mts
Due: config, core, utils

🤖 ci(none): not load .env in ci in config unit test
  .github/workflows/ci.yml
  packages/config/test/load.test.ts
Due: config

🧹 chore(none): tobe replaced with toBeUndefined
  packages/config/test/load.test.ts
Due: config

Path conditions:
  build: any of: packages/build/
  cli: any of: packages/cli/
  config: any of: packages/config/
  core: any of: packages/core/
  logger: any of: packages/logger/
  utils: any of: packages/utils/
