Repository rjoydip/templ.rj: changes, and which Codecov flags are due for each by the changed paths.
All: build, cli, config, core, logger, utils

chore: package updated (#178)
  CHANGELOG.md
  cspell.json
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/test/index.test.ts
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/_templates/package.json.hbs
Due: cli, config, core, logger, utils

chore: fix frozon error
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

chore: fixed ci
  .github/workflows/ci.yml
  scripts/src/all.ts
  scripts/src/lint.ts
  scripts/src/utils/index.ts
Due: none

chore: refactored in scripts for CI
  scripts/package.json
  scripts/src/all.ts
  scripts/src/lint.ts
  scripts/src/lint/all.ts
  scripts/src/lint/main.ts
  scripts/src/utils/index.ts
  scripts/vitest.config.ts
Due: none

chore: pkg deps updated
  package.json
  pnpm-lock.yaml
Due: none

chore: disable spinner if it's in CI
  scripts/package.json
  scripts/src/all.ts
  scripts/src/lint/main.ts
Due: none

chore: pkg deps updated
  pnpm-lock.yaml
Due: none

chore: refactored in scripts for CI (#179)
  package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/all.ts
  scripts/src/lint.ts
  scripts/src/lint/all.ts
  scripts/src/lint/main.ts
  scripts/src/utils/index.ts
  scripts/vitest.config.ts
Due: none

chore: refactored scripts code
  scripts/src/all.ts
  scripts/src/lint/main.ts
  scripts/src/utils/index.ts
Due: none

chore: cspell quite
  scripts/src/lint/main.ts
Due: none

chore: refactored create package in scripts
  .github/workflows/ci.yml
  CHANGELOG.md
  apps/docs/package.json
  cspell.json
  eslint.config.js
  package.json
  packages/cli/package.json
  packages/cli/templ.mjs
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/test/fixtures/foobar/demo.js
  pnpm-lock.yaml
  scripts/_templates/README.md.hbs
  scripts/_templates/eslint.config.js
  scripts/_templates/package.json.hbs
  scripts/_templates/test/index.test.ts.hbs
  scripts/_templates/tsconfig.json.hbs
  scripts/package.json
  scripts/scripts.d.ts
  scripts/source/README.md
  scripts/source/package.json
  scripts/source/src/index.ts
  scripts/source/test/index.test.ts
  scripts/source/tsconfig.json
  scripts/source/tsup.config.ts
  scripts/source/vitest.config.ts
  scripts/src/create/pkg.ts
Due: cli, config, core, logger, utils

chore: refactored scripts code (#180)
  .github/workflows/ci.yml
  CHANGELOG.md
  apps/docs/package.json
  cspell.json
  eslint.config.js
  package.json
  packages/cli/package.json
  packages/cli/templ.mjs
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/test/fixtures/foobar/demo.js
  pnpm-lock.yaml
  scripts/_templates/README.md.hbs
  scripts/_templates/eslint.config.js
  scripts/_templates/package.json.hbs
  scripts/_templates/test/index.test.ts.hbs
  scripts/_templates/tsconfig.json.hbs
  scripts/package.json
  scripts/scripts.d.ts
  scripts/source/README.md
  scripts/source/package.json
  scripts/source/src/index.ts
  scripts/source/test/index.test.ts
  scripts/source/tsconfig.json
  scripts/source/tsup.config.ts
  scripts/source/vitest.config.ts
  scripts/src/all.ts
  scripts/src/create/pkg.ts
  scripts/src/lint/main.ts
  scripts/src/utils/index.ts
Due: cli, config, core, logger, utils

fix: sire report numbers because of path issue for windows
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/scripts.d.ts
  scripts/src/size/data.ts
  scripts/src/size/render.ts
  scripts/src/size/report.ts
  size-report.md
Due: none

chore: reafctored husky hooks scripts
  .husky/commit-msg
  .husky/pre-commit
  package.json
  scripts/package.json
Due: none

chore: git added after pre-commit process
  .husky/pre-commit
  CHANGELOG.md
  pnpm-lock.yaml
Due: none

chore: minor refactoring
  .github/workflows/ci.yml
  cspell.json
  packages/cli/package.json
Due: cli

fix: size report issue (#181)
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  CHANGELOG.md
  cspell.json
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/scripts.d.ts
  scripts/src/size/data.ts
  scripts/src/size/render.ts
  scripts/src/size/report.ts
  size-report.md
Due: cli

chore: refactored template location and introduce api testing using pactum
  cspell.json
  packages/api/package.json
  packages/api/tests/http.test.ts
  pnpm-lock.yaml
  scripts/source/README.md
  scripts/src/create/pkg.ts
  templates/basic/README.md
  templates/basic/package.json
  templates/basic/src/index.ts
  templates/basic/test/index.test.ts
  templates/basic/tsconfig.json
  templates/basic/tsup.config.ts
  templates/basic/vitest.config.ts
Due: none

chore: added api mocking
  packages/api/package.json
  packages/api/test/api.test.ts
  packages/api/test/mocks/api.ts
  packages/api/tests/http.test.ts
Due: none

chore: package updated
  pnpm-lock.yaml
Due: none

fix: create package path
  scripts/src/create/pkg.ts
Due: none

chore: refactored template location and introduce api testing using p… (#182)
  cspell.json
  packages/api/package.json
  packages/api/test/api.test.ts
  packages/api/test/mocks/api.ts
  pnpm-lock.yaml
  scripts/source/README.md
  scripts/src/create/pkg.ts
  templates/basic/README.md
  templates/basic/package.json
  templates/basic/src/index.ts
  templates/basic/test/index.test.ts
  templates/basic/tsconfig.json
  templates/basic/tsup.config.ts
  templates/basic/vitest.config.ts
Due: none

chore: enhanced apps prompt in dry-run
  scripts/src/create/apps.ts
  scripts/src/create/common.ts
  scripts/src/create/docs.ts
  scripts/src/create/index.ts
  scripts/src/create/pkg.ts
Due: none

chore: commit lots of no-committed file
  apps/www/.gitkeep
  cspell.json
  docs/.gitignore
  docs/api.md
  docs/blogs.md
  docs/blogs/2023-08-12-intro-blog.md
  docs/guide.md
  docs/guide/cli.md
  docs/guide/config.md
  docs/guide/core.md
  docs/guide/utils.md
  docs/index.md
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: enhanced apps prompt in dry-run (#183)
  apps/www/.gitkeep
  cspell.json
  docs/.gitignore
  docs/api.md
  docs/blogs.md
  docs/blogs/2023-08-12-intro-blog.md
  docs/guide.md
  docs/guide/cli.md
  docs/guide/config.md
  docs/guide/core.md
  docs/guide/utils.md
  docs/index.md
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/src/create/apps.ts
  scripts/src/create/common.ts
  scripts/src/create/docs.ts
  scripts/src/create/index.ts
  scripts/src/create/pkg.ts
Due: none

chore: create pkg and docs script refactored
  docs/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/create/apps.ts
  scripts/src/create/common.ts
  scripts/src/create/docs.ts
  scripts/src/create/index.ts
  scripts/src/create/pkg.ts
  scripts/src/create/pkgs.ts
Due: cli, config, core, logger

chore: create docs and pkgs script refactored
  .devcontainer/devcontainer.json
  .dockerignore
  .gitignore
  .gitpod.yml
  .vscode/extensions.json
  cspell.json
  docs/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/src/all.ts
  templates/basic/package.json
Due: cli, config, core, logger, utils

fix: clean scripts for solving dist delete for node_modules package
  cspell.json
  package.json
  packages/api/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/clean.ts
  scripts/src/create/index.ts
Due: none

chore: create pkg and docs script refactored (#187)
  .devcontainer/devcontainer.json
  .dockerignore
  .gitignore
  .gitpod.yml
  .vscode/extensions.json
  cspell.json
  docs/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/all.ts
  scripts/src/clean.ts
  scripts/src/create/apps.ts
  scripts/src/create/common.ts
  scripts/src/create/docs.ts
  scripts/src/create/index.ts
  scripts/src/create/pkg.ts
  scripts/src/create/pkgs.ts
  templates/basic/package.json
Due: cli, config, core, logger, utils

chore: pkg script completed
  cspell.json
  docs/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/scripts.d.ts
  scripts/src/create/apps.ts
  scripts/src/create/custom.ts
  scripts/src/create/docs.ts
  scripts/src/create/index.ts
  scripts/src/create/pkgs.ts
  scripts/src/utils/constant.ts
  templates/js-basic/README.md
  templates/js-basic/package.json
  templates/js-basic/src/index.js
  templates/js-basic/test/index.test.js
  templates/js-basic/types.d.ts
  templates/js-basic/vitest.config.js
  templates/ts-basic/README.md
  templates/ts-basic/package.json
  templates/ts-basic/src/index.ts
  templates/ts-basic/test/index.test.ts
  templates/ts-basic/tsconfig.json
  templates/ts-basic/tsup.config.ts
  templates/ts-basic/vitest.config.ts
  test/index.js
Due: none

chore: pkg script completed (#188)
  cspell.json
  docs/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/scripts.d.ts
  scripts/src/create/apps.ts
  scripts/src/create/custom.ts
  scripts/src/create/docs.ts
  scripts/src/create/index.ts
  scripts/src/create/pkgs.ts
  scripts/src/utils/constant.ts
  templates/js-basic/README.md
  templates/js-basic/package.json
  templates/js-basic/src/index.js
  templates/js-basic/test/index.test.js
  templates/js-basic/types.d.ts
  templates/js-basic/vitest.config.js
  templates/ts-basic/README.md
  templates/ts-basic/package.json
  templates/ts-basic/src/index.ts
  templates/ts-basic/test/index.test.ts
  templates/ts-basic/tsconfig.json
  templates/ts-basic/tsup.config.ts
  templates/ts-basic/vitest.config.ts
  test/index.js
Due: none

chore: stacks code and import modified
  .husky/pre-commit
  package.json
  scripts/package.json
  scripts/src/create/index.ts
  scripts/src/create/stack/apps.ts
  scripts/src/create/stack/docs.ts
  scripts/src/create/stack/index.ts
  scripts/src/create/stack/pkgs.ts
Due: none

chore: next app create logic added
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/create/index.ts
  scripts/src/create/stack/apps.ts
  scripts/src/create/stack/docs.ts
  scripts/src/create/stack/index.ts
  scripts/src/create/stack/pkgs.ts
  templates/basic/js/package.json
  templates/basic/ts/package.json
Due: cli, config, core, logger, utils

chore: added better commit
  .better-commits.json
  .husky/commit-msg
  .husky/pre-commit
  README.md
  cspell.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/src/create/stack/index.ts
Due: none

🧹 chore(root): trying pre-commit script run
  .better-commits.json
  cspell.json
  package.json
  templ.code-workspace
Due: none

🧹 chore(root): pre commit functionality
  .better-commits.json
  cspell.json
  package.json
  pnpm-lock.yaml
Due: none

🧹 chore(root): refactor again, enabled pre & post npm script hooks
  .codesandbox/environment.json
  .codesandbox/workspace.json
  .commitlintrc.js
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .npmrc
  .stackblitz/codeflow.json
  .vscode/extensions.json
  .vscode/tasks.json
  CHANGELOG.md
  docs/.gitignore
  docs/.gitkeep
  docs/api.md
  docs/blogs.md
  docs/blogs/2023-08-12-intro-blog.md
  docs/guide.md
  docs/guide/cli.md
  docs/guide/config.md
  docs/guide/core.md
  docs/guide/utils.md
  docs/index.md
  docs/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/package.json
  scripts/src/all.ts
  size-report.md
  tools/.gitkeep
Due: none

Path conditions:
  build: any of: packages/build/
  cli: any of: packages/cli/
  config: any of: packages/config/
  core: any of: packages/core/
  logger: any of: packages/logger/
  utils: any of: packages/utils/
