Repository rjoydip/templ.rj: changes, and which Codecov flags are due for each by the changed paths.
All: build, cli, config, core, logger, utils

codecov.yml:

coverage:
  status:
    project:
      default: off
      build:
        flags:
          - build
      cli:
        flags:
          - cli
      config:
        flags:
          - config
      core:
        flags:
          - core
      logger:
        flags:
          - logger
      utils:
        flags:
          - utils

flags:
  build:
    paths:
      - packages/build/
  cli:
    paths:
      - packages/cli/
  config:
    paths:
      - packages/config/
  core:
    paths:
      - packages/core/
  logger:
    paths:
      - packages/logger/
  utils:
    paths:
      - packages/utils/

🧹 chore(none): package version updated
  packages/ui/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: none

🧹 chore(none): package version updated (#244)
  packages/ui/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: none

🐛 fix(none): #243 license badge generate using automd
  apps/web/README.md
  generator/README.md
  packages/api/README.md
  packages/cli/README.md
  packages/config/README.md
  packages/core/README.md
  packages/fflag/README.md
  packages/ui/README.md
  packages/utils/README.md
  plugins/esbuild-plugin-templ/README.md
  pnpm-lock.yaml
  scripts/README.md
  scripts/package.json
  scripts/src/update/automd.ts
Due: cli, config, core, utils

🐛 fix(none): couple of local issue
  apps/desktop/package.json
  apps/docs/package.json
  generator/templates/basic-js/package.json
  generator/templates/basic-ts/package.json
  package.json
  packages/api/README.md
  packages/api/package.json
  packages/cli/README.md
  packages/config/package.json
  packages/core/README.md
  packages/core/package.json
  packages/fflag/README.md
  packages/fflag/package.json
  packages/storage/README.md
  packages/storage/package.json
  packages/storage/src/validate.ts
  packages/storage/vitest.config.mts
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: cli, config, core, utils

🐛 fix(none): #243 license badge generate using automd (#245)
  apps/web/README.md
  generator/README.md
  packages/api/README.md
  packages/cli/README.md
  packages/config/README.md
  packages/core/README.md
  packages/fflag/README.md
  packages/ui/README.md
  packages/utils/README.md
  plugins/esbuild-plugin-templ/README.md
  pnpm-lock.yaml
  scripts/README.md
  scripts/package.json
  scripts/src/update/automd.ts
Due: cli, config, core, utils

🧹 chore(none): package version update
  apps/desktop/package.json
  apps/docs/package.json
  generator/templates/basic-js/package.json
  generator/templates/basic-ts/package.json
  packages/api/package.json
  packages/config/package.json
  packages/core/package.json
  packages/fflag/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: config, core, utils

🧹 chore(none): package version update (#246)
  apps/desktop/package.json
  apps/docs/package.json
  generator/templates/basic-js/package.json
  generator/templates/basic-ts/package.json
  packages/api/package.json
  packages/config/package.json
  packages/core/package.json
  packages/fflag/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: config, core, utils

🐛 fix(none): ts path issue fixed for vitest config mjs
  generator/templates/basic-js/vitest.config.mjs
Due: none

🐛 fix(none): vitest shared path in basic-js templates
  generator/templates/basic-js/vitest.config.mjs
Due: none

🧹 chore(none): package version updated
  package.json
  pnpm-lock.yaml
Due: none

🐛 fix(none): vitest shared in basic-js
  generator/templates/basic-js/vitest.config.mjs
Due: none

✨ feat(none): #253 type checking using tsc
  .config/knip.config.ts
  apps/desktop/package.json
  apps/docs/package.json
  generator/package.json
  generator/src/stacks/pkg.ts
  generator/templates/basic-ts/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/config/README.md
  packages/config/package.json
  packages/core/README.md
  packages/core/package.json
  packages/fflag/package.json
  packages/storage/README.md
  packages/storage/package.json
  packages/ui/package.json
  packages/ui/test/lib/utils.test.ts
  packages/utils/package.json
  plugins/esbuild-plugin-templ/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/build/folder-count.ts
  turbo.json
Due: cli, config, core, utils

chore(): package updated and dropped better-commits
  .better-commits.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

chore(root): simple git hooks package intro
  .config/knip.config.ts
  package.json
  packages/cli/README.md
  packages/config/README.md
  packages/core/README.md
  packages/fflag/README.md
  packages/ui/README.md
  pnpm-lock.yaml
Due: cli, config, core

chore: updated md files and in ci lint depends on build
  packages/config/README.md
Due: config

chore: updated md files and in ci lint depends on build
  .github/workflows/ci.yml
  packages/api/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/fflag/README.md
  packages/ui/README.md
Due: cli, core

chore: package updated
  pnpm-lock.yaml
  scripts/package.json
Due: none

ci: lint needs build
  .github/workflows/ci.yml
Due: none

chore: in ci ni being used, typecheck after build
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  package.json
  packages/api/README.md
  packages/cli/README.md
  packages/config/README.md
  packages/config/package.json
  packages/config/src/index.ts
  packages/core/README.md
  packages/flags/README.md
  packages/storage/README.md
  packages/ui/README.md
  packages/utils/README.md
  turbo.json
Due: cli, config, core, utils

chore: updated npm scripts process
  .config/knip.config.ts
  .husky/pre-commit
  .husky/pre-push
  apps/web/package.json
  eslint.config.js
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

fix: eslint for bench file
  eslint.config.js
Due: none

fix: knip lint issue and pnpm updated
  apps/web/package.json
  generator/package.json
  generator/templates/basic-ts/package.json
  package.json
  packages/api/package.json
  packages/flags/package.json
  packages/storage/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

chore(test): unit test code added for new config change
  .husky/pre-commit
  packages/api/package.json
  packages/config/package.json
  packages/config/src/core/conf.ts
  packages/config/src/core/env.ts
  packages/config/src/core/flag.ts
  packages/config/src/load.ts
  packages/config/test/fixtures/.config/.env.local
  packages/config/test/fixtures/.config/conf.ts
  packages/config/test/fixtures/.config/flag.ts
  packages/config/test/fixtures/.config/templ.config.ts
  packages/config/test/fixtures/.config/wrong.config.ts
  packages/config/test/fixtures/conf/config.ts
  packages/config/test/fixtures/conf/templ/.templrc
  packages/config/test/fixtures/dev/.env.dev
  packages/config/test/fixtures/dev/config.dev.ts
  packages/config/test/fixtures/dev/config.ts
  packages/config/test/fixtures/rc/.templrc
  packages/config/test/load.test.ts
  pnpm-lock.yaml
Due: config

chore(test): removed ci check for github action
  packages/config/test/load.test.ts
Due: config

chore(test): unit test code added for new config change (#260)
  .husky/pre-commit
  packages/api/package.json
  packages/config/package.json
  packages/config/src/core/conf.ts
  packages/config/src/core/env.ts
  packages/config/src/core/flag.ts
  packages/config/src/load.ts
  packages/config/test/fixtures/.config/.env.local
  packages/config/test/fixtures/.config/conf.ts
  packages/config/test/fixtures/.config/flag.ts
  packages/config/test/fixtures/.config/templ.config.ts
  packages/config/test/fixtures/.config/wrong.config.ts
  packages/config/test/fixtures/conf/config.ts
  packages/config/test/fixtures/conf/templ/.templrc
  packages/config/test/fixtures/dev/.env.dev
  packages/config/test/fixtures/dev/config.dev.ts
  packages/config/test/fixtures/dev/config.ts
  packages/config/test/fixtures/rc/.templrc
  packages/config/test/load.test.ts
  pnpm-lock.yaml
Due: config

chore: code coverage from root
  .github/workflows/ci.yml
  apps/desktop/vitest.config.js
  apps/docs/vitest.config.js
  apps/web/package.json
  fixtures/.config/.env.local
  fixtures/.config/conf.ts
  fixtures/.config/flag.ts
  fixtures/.config/templ.config.ts
  fixtures/.config/wrong.config.ts
  knip.config.ts
  package.json
  packages/api/package.json
  packages/api/vitest.config.js
  packages/config/src/get.ts
  packages/config/test/load.test.ts
  packages/config/vitest.config.js
  packages/config/vitest.config.ts
  packages/core/vitest.config.js
  packages/flags/vitest.config.js
  packages/storage/vitest.config.js
  packages/ui/package.json
  packages/ui/test/lib/utils.test.ts
  packages/ui/tsconfig.json
  packages/ui/vitest.config.js
  packages/utils/vitest.config.js
  pnpm-lock.yaml
  vitest.config.js
Due: config, core, utils

chore: fix env testing issue in CI
  packages/config/test/load.test.ts
Due: config

chore: fix env testing issue in CI by skip describe
  packages/config/test/load.test.ts
Due: config

chore: code coverage from root (#261)
  .github/workflows/ci.yml
  apps/desktop/vitest.config.js
  apps/docs/vitest.config.js
  apps/web/package.json
  fixtures/.config/.env.local
  fixtures/.config/conf.ts
  fixtures/.config/flag.ts
  fixtures/.config/templ.config.ts
  fixtures/.config/wrong.config.ts
  knip.config.ts
  package.json
  packages/api/package.json
  packages/api/vitest.config.js
  packages/config/src/get.ts
  packages/config/test/load.test.ts
  packages/config/vitest.config.js
  packages/config/vitest.config.ts
  packages/core/vitest.config.js
  packages/flags/vitest.config.js
  packages/storage/vitest.config.js
  packages/ui/package.json
  packages/ui/test/lib/utils.test.ts
  packages/ui/tsconfig.json
  packages/ui/vitest.config.js
  packages/utils/vitest.config.js
  pnpm-lock.yaml
  vitest.config.js
Due: config, core, utils
