Repository rjoydip/templ.rj: changes, and which Codecov flags are due for each by the changed paths.
All: build, cli, config, core, logger, utils

chore: setup, lint and all process changed using node js (#124)
  CHANGELOG.md
  README.md
  cspell.json
  package.json
  packages/api/package.json
  packages/api/services/main/package.json
  packages/api/services/quotes/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  scripts/_templates/package.json.hbs
  scripts/js/all.js
  scripts/js/constant.js
  scripts/js/lint.js
  scripts/js/setup.js
  scripts/js/utils.js
  scripts/package.json
  size-report.md
  taze.config.js
Due: cli

ci: modification
  .github/workflows/ci.yml
Due: none

ci: fixed warning of using nvm and input both for setup node
  .github/actions/setup-node/action.yml
  .nvmrc
Due: none

ci: modification (#125)
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  .nvmrc
Due: none

chore: localstack added in gitpod
  .gitpod.Dockerfile
Due: none

chore: basic localstack setup for testing
  .github/workflows/ci.yml
  .gitignore
  cspell.json
  docker/Dockerfile
  docker/docker-compose.yml
Due: none

chore: deps updated
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
  packages/api/package.json
  packages/api/services/main/package.json
  packages/api/services/quotes/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, logger, utils

chore: deps updated (#132)
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
  packages/api/package.json
  packages/api/services/main/package.json
  packages/api/services/quotes/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, logger, utils

chore: work in progress
  .gitpod.yml
  .nvmrc
  cspell.json
  docker/Dockerfile
  docker/docker-compose.yml
  docker/gitpod.Dockerfile
Due: none

chore: package updated
  CHANGELOG.md
  apps/docs/package.json
  package.json
  packages/api/package.json
  packages/api/services/main/package.json
  packages/api/services/quotes/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  size-report.md
Due: cli, config, core, logger, utils

chore: modify code for deps update duplicate
  CHANGELOG.md
  packages/api/package.json
  packages/api/services/main/package.json
  packages/api/services/quotes/package.json
  pnpm-lock.yaml
  scripts/js/all.js
  scripts/js/setup.js
Due: none

chore: update pkg and removed deps duplication (#138)
  CHANGELOG.md
  apps/docs/package.json
  package.json
  packages/api/package.json
  packages/api/services/main/package.json
  packages/api/services/quotes/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/js/all.js
  scripts/js/setup.js
  scripts/package.json
  size-report.md
Due: cli, config, core, logger, utils

chore: package version updated
  CHANGELOG.md
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, logger, utils

chore: deps update
  package.json
Due: none

chore: package version updated (#140)
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, logger, utils

chore: updated pacakge versions
  package.json
  packages/api/package.json
  packages/api/services/main/package.json
  packages/api/services/quotes/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, logger, utils

chore: update package versions (#147)
  package.json
  packages/api/package.json
  packages/api/services/main/package.json
  packages/api/services/quotes/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, logger, utils

chore: update lots of things along with package update
  .vscode/settings.json
  CHANGELOG.md
  package.json
  packages/api/.gitignore
  packages/api/.gitkeep
  packages/api/README.md
  packages/api/package.json
  packages/api/platformatic.runtime.json
  packages/api/services/main/.env.sample
  packages/api/services/main/.gitignore
  packages/api/services/main/README.md
  packages/api/services/main/package.json
  packages/api/services/main/platformatic.composer.json
  packages/api/services/quotes/.env.sample
  packages/api/services/quotes/.gitignore
  packages/api/services/quotes/README.md
  packages/api/services/quotes/global.d.ts
  packages/api/services/quotes/package.json
  packages/api/services/quotes/platformatic.service.json
  packages/api/services/quotes/plugins/example.ts
  packages/api/services/quotes/routes/root.ts
  packages/api/services/quotes/test/helper.ts
  packages/api/services/quotes/test/plugins/example.test.ts
  packages/api/services/quotes/test/routes/root.test.ts
  packages/api/services/quotes/tsconfig.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/all.ts
  scripts/src/constant.ts
  scripts/src/lint.ts
  scripts/src/setup.ts
  scripts/src/size/generate.ts
  scripts/src/utils.ts
  size-report.md
Due: cli, config, core, logger, utils

chore: linting issue solved
  .github/actions/setup-node/action.yml
  CHANGELOG.md
  scripts/src/lint.ts
Due: none

chore: update lots of things along with package update (#162)
  .github/actions/setup-node/action.yml
  .vscode/settings.json
  CHANGELOG.md
  package.json
  packages/api/.gitignore
  packages/api/.gitkeep
  packages/api/README.md
  packages/api/package.json
  packages/api/platformatic.runtime.json
  packages/api/services/main/.env.sample
  packages/api/services/main/.gitignore
  packages/api/services/main/README.md
  packages/api/services/main/package.json
  packages/api/services/main/platformatic.composer.json
  packages/api/services/quotes/.env.sample
  packages/api/services/quotes/.gitignore
  packages/api/services/quotes/README.md
  packages/api/services/quotes/global.d.ts
  packages/api/services/quotes/package.json
  packages/api/services/quotes/platformatic.service.json
  packages/api/services/quotes/plugins/example.ts
  packages/api/services/quotes/routes/root.ts
  packages/api/services/quotes/test/helper.ts
  packages/api/services/quotes/test/plugins/example.test.ts
  packages/api/services/quotes/test/routes/root.test.ts
  packages/api/services/quotes/tsconfig.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/all.ts
  scripts/src/constant.ts
  scripts/src/lint.ts
  scripts/src/setup.ts
  scripts/src/size/generate.ts
  scripts/src/utils.ts
  size-report.md
Due: cli, config, core, logger, utils

chore: refactored scripts, setup scripts, paths in package utils
  .github/workflows/ci.yml
  CHANGELOG.md
  apps/docs/package.json
  cspell.json
  package.json
  packages/config/src/index.ts
  packages/config/src/load.ts
  packages/utils/src/escalade.ts
  packages/utils/src/index.ts
  packages/utils/src/path.ts
  packages/utils/test/escalade.test.ts
  packages/utils/test/path.test.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/all.ts
  scripts/src/ci/check-dist.ts
  scripts/src/ci/copy-env.ts
  scripts/src/ci/delete-env.ts
  scripts/src/clean-nm.ts
  scripts/src/constant.ts
  scripts/src/create-pkg.ts
  scripts/src/lint-md.ts
  scripts/src/lint.ts
  scripts/src/setup.ts
  scripts/src/size/data.ts
  scripts/src/size/generate.ts
  scripts/src/size/report.ts
  scripts/src/utils.ts
  scripts/tsconfig.json
Due: config, utils

chore: refactored scripts, setup scripts, paths in package utils (#164)
  .github/workflows/ci.yml
  CHANGELOG.md
  apps/docs/package.json
  cspell.json
  package.json
  packages/config/src/index.ts
  packages/config/src/load.ts
  packages/utils/src/escalade.ts
  packages/utils/src/index.ts
  packages/utils/src/path.ts
  packages/utils/test/escalade.test.ts
  packages/utils/test/path.test.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/all.ts
  scripts/src/ci/check-dist.ts
  scripts/src/ci/copy-env.ts
  scripts/src/ci/delete-env.ts
  scripts/src/clean-nm.ts
  scripts/src/constant.ts
  scripts/src/create-pkg.ts
  scripts/src/lint-md.ts
  scripts/src/lint.ts
  scripts/src/setup.ts
  scripts/src/size/data.ts
  scripts/src/size/generate.ts
  scripts/src/size/report.ts
  scripts/src/utils.ts
  scripts/tsconfig.json
Due: config, utils

chore: entire scripts refactoring and packages
  .github/workflows/ci.yml
  CHANGELOG.md
  cspell.json
  package.json
  packages/api/.gitkeep
  packages/api/package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/test/index.test.ts
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/all.ts
  scripts/src/ci/check-dist.ts
  scripts/src/ci/copy-env.ts
  scripts/src/ci/delete-env.ts
  scripts/src/clean-nm.ts
  scripts/src/constant.ts
  scripts/src/create-pkg.ts
  scripts/src/lint-md.ts
  scripts/src/lint.ts
  scripts/src/setup.ts
  scripts/src/size/index.ts
  scripts/src/size/report.ts
  scripts/src/utils.ts
Due: cli, config, core, logger, utils

fix: scripts utils and constant import
  scripts/src/ci/check-dist.ts
  scripts/src/ci/copy-env.ts
  scripts/src/ci/delete-env.ts
  scripts/src/create-pkg.ts
  scripts/src/size/data.ts
  scripts/src/size/index.ts
  scripts/src/size/report.ts
Due: none

chore: modified couple of things along with size report
  CHANGELOG.md
  apps/docs/package.json
  package.json
  packages/api/.env.sample
  packages/cli/package.json
  packages/cli/vitest.config.ts
  packages/config/package.json
  packages/config/vitest.config.ts
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/logger/package.json
  packages/logger/vitest.config.ts
  packages/utils/package.json
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
  scripts/_templates/package.json.hbs
  scripts/_templates/vitest.config.ts
  scripts/package.json
  scripts/src/ci/check-dist.ts
  scripts/src/ci/copy-env.ts
  scripts/src/ci/delete-env.ts
  scripts/src/lint.ts
  scripts/src/size/data.ts
  scripts/src/size/index.ts
  scripts/src/size/render.ts
  scripts/src/size/report.ts
  scripts/src/utils.ts
  size-report.md
Due: cli, config, core, logger, utils

chore: minor change
  .github/workflows/ci.yml
  package.json
Due: none

fix: ci for lint issue
  .github/workflows/ci.yml
  package.json
Due: none

chore: package deps updated
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, logger, utils

chore: removed npm lock and regenerated
  pnpm-lock.yaml
Due: none

chore: ci github actions
  .github/workflows/first-interaction.yml
Due: none

chore: checkout v
  .github/workflows/first-interaction.yml
Due: none

chore: removed first interaction ci file
  .github/workflows/first-interaction.yml
Due: none

chore: package deps update (#172)
  .github/workflows/first-interaction.yml
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, logger, utils

ci: lint disable
  .github/workflows/ci.yml
Due: none

chore: refactored proj root directory
  CHANGELOG.md
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/utils.ts
  templ.code-workspace
Due: none

chore: enabled lint in ci
  .github/workflows/ci.yml
Due: none

chore: only enable lint in ci
  .github/workflows/ci.yml
  scripts/src/lint.ts
Due: none

chore: pnpm command change for ci issue
  .husky/pre-commit
  package.json
  scripts/src/all.ts
  scripts/src/lint.ts
  scripts/src/utils.ts
Due: none

chore: pnpm bin path and other modification
  cspell.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/global-directory.ts
  scripts/src/lint.ts
  scripts/src/utils.ts
  scripts/test/global-directory.test.ts
  scripts/vitest.config.ts
Due: none

chore: package updated
  CHANGELOG.md
  cspell.json
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/test/index.test.ts
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/_templates/package.json.hbs
Due: cli, config, core, logger, utils

Path conditions:
  build: any of: packages/build/
  cli: any of: packages/cli/
  config: any of: packages/config/
  core: any of: packages/core/
  logger: any of: packages/logger/
  utils: any of: packages/utils/
