Repository rjoydip/templ.rj: changes, and which Codecov flags are due for each by the changed paths.
All: build, cli, config, core, logger, utils

codecov.yml:

coverage:
  status:
    project:
      default: off
      build:
        flags:
          - build
      cli:
        flags:
          - cli
      config:
        flags:
          - config
      core:
        flags:
          - core
      logger:
        flags:
          - logger
      utils:
        flags:
          - utils

flags:
  build:
    paths:
      - packages/build/
  cli:
    paths:
      - packages/cli/
  config:
    paths:
      - packages/config/
  core:
    paths:
      - packages/core/
  logger:
    paths:
      - packages/logger/
  utils:
    paths:
      - packages/utils/

🧹 chore(none): package version updated
  apps/web/package.json
  apps/web/src/App.tsx
  pnpm-lock.yaml
Due: none

🐛 fix(none): build app.tsx import issue try-1
  apps/web/tsconfig.json
Due: none

🐛 fix(none): build app.tsx import issue try-2
  apps/web/src/App.css
  apps/web/src/App.tsx
  apps/web/src/main.css
  apps/web/src/main.tsx
Due: none

🐛 fix(none): build failure on desktop and docs
  apps/desktop/src/index.ts
  apps/desktop/test/index.test.ts
  apps/docs/src/index.ts
  apps/docs/test/index.test.ts
Due: none

🐛 fix(none): type in docs unit test code
  apps/docs/test/index.test.ts
Due: none

🧹 chore(none): package update and commit other files
  pnpm-lock.yaml
Due: none

🧹 chore(none): update packages
  pnpm-lock.yaml
Due: none

🧹 chore(none): package lock yaml update
  pnpm-lock.yaml
Due: none

🐛 fix(none): ui build issue and build folder count check
  packages/ui/package.json
  pnpm-lock.yaml
  scripts/src/build/folder-count.ts
Due: none

🧹 chore(none): fix knip issue in CI
  config/knip.config.ts
Due: none

✨ feat(packages): feature flag service and refactor templates
  apps/server/esbuild.config.ts
  apps/web/package.json
  config/env/.env.sample
  config/env/README.md
  config/env/package.json
  config/flag/.conf.example
  config/flag/package.json
  config/knip.config.ts
  generator/package.json
  generator/src/stacks/app.ts
  generator/src/stacks/doc.ts
  generator/src/stacks/pkg.ts
  generator/src/stacks/server.ts
  generator/src/utils.ts
  generator/templates/basic-ts/package.json
  packages/config/esbuild.config.ts
  packages/config/package.json
  packages/fflag/CHANGELOG.md
  packages/fflag/README.md
  packages/fflag/esbuild.config.ts
  packages/fflag/package.json
  packages/fflag/src/index.ts
  packages/fflag/test/index.test.ts
  packages/fflag/tsconfig.json
  packages/fflag/vitest.config.mts
  packages/ui/package.json
  packages/utils/esbuild.config.ts
  plugins/esbuild-plugin-templ/esbuild.config.ts
  pnpm-lock.yaml
Due: config, utils

🧹 chore(none): package updated
  pnpm-lock.yaml
Due: none

✨ feat(packages): feature flag service and refactor templates (#223)
  apps/server/esbuild.config.ts
  apps/web/package.json
  config/env/.env.sample
  config/env/README.md
  config/env/package.json
  config/flag/.conf.example
  config/flag/package.json
  config/knip.config.ts
  generator/package.json
  generator/src/stacks/app.ts
  generator/src/stacks/doc.ts
  generator/src/stacks/pkg.ts
  generator/src/stacks/server.ts
  generator/src/utils.ts
  generator/templates/basic-ts/package.json
  packages/config/esbuild.config.ts
  packages/config/package.json
  packages/fflag/CHANGELOG.md
  packages/fflag/README.md
  packages/fflag/esbuild.config.ts
  packages/fflag/package.json
  packages/fflag/src/index.ts
  packages/fflag/test/index.test.ts
  packages/fflag/tsconfig.json
  packages/fflag/vitest.config.mts
  packages/ui/package.json
  packages/utils/esbuild.config.ts
  plugins/esbuild-plugin-templ/esbuild.config.ts
  pnpm-lock.yaml
Due: config, utils

🧹 chore(none): ui module used in web
  .gitignore
  apps/web/app/page.tsx
  apps/web/components/site-header.tsx
  apps/web/components/theme-toggle.tsx
  apps/web/components/ui/button.tsx
  apps/web/package.json
  apps/web/styles/globals.css
  apps/web/tsconfig.tsbuildinfo
  package.json
  packages/ui/.gitignore
  packages/ui/components.json
  packages/ui/index.html
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/public/vite.svg
  packages/ui/src/app.tsx
  packages/ui/src/assets/react.svg
  packages/ui/src/button.tsx
  packages/ui/src/main.tsx
  packages/ui/src/styles/app.css
  packages/ui/src/styles/global.css
  packages/ui/src/styles/index.css
  packages/ui/src/vite-env.d.ts
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/clean.ts
  scripts/src/clean/turbo.ts
Due: none

🧹 chore(none): minor modification for web
  apps/web/.eslintignore
  apps/web/.eslintrc.json
  apps/web/.prettierignore
  apps/web/app/layout.tsx
  apps/web/components.json
  apps/web/components/site-header.tsx
  apps/web/components/theme-provider.tsx
  apps/web/components/theme-toggle.tsx
  apps/web/package.json
  apps/web/prettier.config.js
Due: none

🧹 chore(none): package version updated
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

🧹 chore(none): package version updated
  pnpm-lock.yaml
Due: none

chore(ui): use UI module (#224)
  .gitignore
  apps/web/.eslintignore
  apps/web/.eslintrc.json
  apps/web/.prettierignore
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components.json
  apps/web/components/site-header.tsx
  apps/web/components/theme-provider.tsx
  apps/web/components/theme-toggle.tsx
  apps/web/components/ui/button.tsx
  apps/web/package.json
  apps/web/prettier.config.js
  apps/web/styles/globals.css
  apps/web/tsconfig.tsbuildinfo
  packages/ui/.gitignore
  packages/ui/components.json
  packages/ui/index.html
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/public/vite.svg
  packages/ui/src/app.tsx
  packages/ui/src/assets/react.svg
  packages/ui/src/button.tsx
  packages/ui/src/main.tsx
  packages/ui/src/styles/app.css
  packages/ui/src/styles/global.css
  packages/ui/src/styles/index.css
  packages/ui/src/vite-env.d.ts
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/clean.ts
  scripts/src/clean/turbo.ts
Due: none

🔨 refactor(none): refactor-23 moved server to packages, renamed to api
  apps/server/CHANGELOG.md
  apps/server/README.md
  config/knip.config.ts
  packages/api/CHANGELOG.md
  packages/api/README.md
  packages/api/esbuild.config.ts
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/index.ts
  packages/api/test/app.test.ts
  packages/api/test/server.load.ts
  packages/api/tsconfig.json
  packages/api/vitest.config.mts
  packages/templ/README.md
  packages/templ/esbuild.config.ts
  packages/templ/package.json
  packages/templ/src/index.ts
  packages/templ/tsconfig.json
  scripts/src/utils.ts
  templ.code-workspace
Due: none

🔨 refactor(none): refactor-23 package updated
  package.json
  pnpm-lock.yaml
Due: none

🔨 refactor(none): refactor-23 ui build and fix some typo
  apps/desktop/package.json
  apps/docs/package.json
  apps/web/package.json
  config/knip.config.ts
  config/tsconfig/react.json
  generator/package.json
  generator/templates/basic-js/package.json
  generator/templates/basic-ts/package.json
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/fflag/package.json
  packages/ui/esbuild.config.ts
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/src/button/button.tsx
  packages/ui/src/button/index.ts
  packages/ui/src/index.ts
  packages/ui/test/lib/utils.test.ts
  packages/ui/tsconfig.json
  packages/utils/package.json
  plugins/esbuild-plugin-templ/package.json
  plugins/esbuild-plugin-templ/src/dts.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/build/size-limit.ts
  scripts/src/build/size-report.ts
Due: cli, config, core, utils

🔨 refactor(none): refactor-23 ci build failed
  packages/ui/test/index.test.ts
  packages/ui/test/lib/utils.test.ts
  turbo.json
Due: none

✨ feat(none): basic storybook setup
  config/tsconfig/react.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/src/button/button.stories.ts
  packages/ui/src/button/button.tsx
  packages/ui/src/styles/tailwind.css
  packages/ui/tailwind.config.js
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: none

🧹 chore(none): package updated
  apps/desktop/package.json
  apps/docs/package.json
  generator/package.json
  generator/templates/basic-ts/package.json
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/fflag/package.json
  packages/ui/package.json
  packages/utils/package.json
  plugins/esbuild-plugin-templ/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, utils

🐛 fix(packages): ui test issue
  packages/ui/vitest.config.mts
Due: none

🔨 refactor(none): package version updated
  apps/web/package.json
  packages/api/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

🔨 refactor(none): package version updated (#233)
  apps/web/package.json
  packages/api/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

✨ feat(packages): #235 initial code for storage
  apps/web/package.json
  config/tsconfig/package.json
  generator/package.json
  generator/src/utils.ts
  generator/templates/basic-ts/package.json
  package.json
  packages/api/package.json
  packages/fflag/package.json
  packages/storage/CHANGELOG.md
  packages/storage/README.md
  packages/storage/esbuild.config.ts
  packages/storage/package.json
  packages/storage/src/get.ts
  packages/storage/src/index.ts
  packages/storage/src/option.ts
  packages/storage/src/store.ts
  packages/storage/src/utils.ts
  packages/storage/src/validate.ts
  packages/storage/storage.d.ts
  packages/storage/test/index.test.ts
  packages/storage/tsconfig.json
  packages/storage/vitest.config.mts
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

✨ feat(scripts): #237 automd add to generate install in readme file
  apps/web/package.json
  config/tsconfig/package.json
  generator/README.md
  generator/package.json
  generator/templates/basic-js/README.md
  generator/templates/basic-ts/README.md
  generator/templates/basic-ts/package.json
  package.json
  packages/api/README.md
  packages/api/package.json
  packages/cli/README.md
  packages/config/README.md
  packages/core/README.md
  packages/fflag/README.md
  packages/fflag/package.json
  packages/ui/README.md
  packages/ui/package.json
  packages/utils/README.md
  plugins/esbuild-plugin-templ/README.md
  plugins/esbuild-plugin-templ/package.json
  pnpm-lock.yaml
  scripts/README.md
  scripts/package.json
  scripts/src/index.ts
  scripts/src/update/automd.ts
Due: cli, config, core, utils

🐛 fix(none): updated further auto md process
  packages/api/README.md
  packages/api/src/index.ts
  packages/cli/README.md
  packages/config/README.md
  packages/ui/README.md
  packages/utils/README.md
Due: cli, config, utils

🐛 fix(none): running lint due to new code
  packages/api/README.md
  packages/cli/README.md
  packages/config/README.md
  packages/core/README.md
  packages/fflag/README.md
  packages/ui/README.md
  packages/utils/README.md
Due: cli, config, core, utils

✨ feat(scripts): #237 automd add to generate install in readme file (#241)
  apps/web/package.json
  config/tsconfig/package.json
  generator/README.md
  generator/package.json
  generator/templates/basic-js/README.md
  generator/templates/basic-ts/README.md
  generator/templates/basic-ts/package.json
  package.json
  packages/api/README.md
  packages/api/package.json
  packages/api/src/index.ts
  packages/cli/README.md
  packages/config/README.md
  packages/core/README.md
  packages/fflag/README.md
  packages/fflag/package.json
  packages/ui/README.md
  packages/ui/package.json
  packages/utils/README.md
  plugins/esbuild-plugin-templ/README.md
  plugins/esbuild-plugin-templ/package.json
  pnpm-lock.yaml
  scripts/README.md
  scripts/package.json
  scripts/src/index.ts
  scripts/src/update/automd.ts
Due: cli, config, core, utils
