Repository rjoydip/templ.rj: changes, and which Codecov flags are due for each by the changed paths.
All: build, cli, config, core, logger, utils

feat: e2e service setup for web
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  .husky/pre-commit
  apps/desktop/tsconfig.json
  apps/desktop/vitest.config.mts
  apps/docs/tsconfig.json
  apps/docs/vitest.config.mts
  artifacts/e2e-report/index.html
  generator/package.json
  knip.config.ts
  package.json
  packages/api/package.json
  packages/api/tsconfig.json
  packages/api/vitest.config.mts
  packages/config/example/index.ts
  packages/config/src/get.ts
  packages/config/tsconfig.json
  packages/config/vitest.config.mts
  packages/core/tsconfig.json
  packages/core/vitest.config.mts
  packages/flags/tsconfig.json
  packages/flags/vitest.config.mts
  packages/storage/tsconfig.json
  packages/storage/vitest.config.mts
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/ui/vitest.config.mts
  packages/utils/tsconfig.json
  packages/utils/vitest.config.js
  packages/utils/vitest.config.mts
  pnpm-lock.yaml
  vitest.config.js
  vitest.config.mts
Due: config, core, utils

chore: ci issue fixed for build not available
  .github/workflows/ci.yml
  artifacts/e2e-report/index.html
Due: none

chore: github action change
  .github/workflows/ci.yml
Due: none

ci: github action e2e_test blocked by build
  .github/workflows/ci.yml
Due: none

ci: build first before e2e_test
  .github/workflows/ci.yml
  package.json
Due: none

chore: typecheck and lining process modifiled
  apps/desktop/tsconfig.json
  apps/docs/tsconfig.json
  generator/templates/basic-ts/tsconfig.json
  package.json
  packages/api/tsconfig.json
  packages/cli/tsconfig.json
  packages/config/tsconfig.json
  packages/core/tsconfig.json
  packages/flags/tsconfig.json
  packages/storage/tsconfig.json
  packages/ui/tsconfig.json
  packages/utils/tsconfig.json
Due: cli, config, core, utils

fix: knip linting
  package.json
Due: none

ci: e2e_test on ubuntu
  .github/workflows/ci.yml
Due: none

chore: admin module added
  packages/ui/tsconfig.json
  packages/ui/ui.d.ts
  packages/ui/vitest.config.mts
Due: none

chore: packages updated
  apps/desktop/package.json
  apps/docs/package.json
  apps/web/package.json
  generator/package.json
  generator/templates/basic-js/package.json
  generator/templates/basic-ts/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/flags/package.json
  packages/storage/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, utils

fix: storybook test issue
  artifacts/e2e-report/index.html
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: none

chore: storybook main file minor update
  packages/ui/.storybook/main.ts
Due: none

chore: packages updated (#283)
  apps/desktop/package.json
  apps/docs/package.json
  apps/web/package.json
  artifacts/e2e-report/index.html
  generator/package.json
  generator/templates/basic-js/package.json
  generator/templates/basic-ts/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/flags/package.json
  packages/storage/package.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/vite.config.ts
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, utils

chore: removed test:ci during pre-commit
  .husky/pre-commit
Due: none

fix: github action test issue and refactored
  .github/workflows/ci.yml
  apps/admin/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/web/package.json
  generator/templates/basic-js/package.json
  generator/templates/basic-ts/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/storage/package.json
  packages/ui/components/analytics.tsx
  packages/ui/components/announcement.tsx
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/build/folder-count.ts
  scripts/src/clean.mjs
  turbo.json
  vitest.config.mts
Due: cli, config, core, utils

chore: remove ni install
  .github/actions/setup-node/action.yml
Due: none

chore: updated missing packages
  apps/admin/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: none

chore: platwright deps install on ci only
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
  apps/admin/package.json
  apps/web/package.json
  packages/ui/package.json
Due: none

chore: playwright releated updates
  .github/workflows/ci.yml
  package.json
  turbo.json
Due: none

chore: playwright installation and missing in ui package
  .github/workflows/ci.yml
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

chore: playwright installed in root and install deps
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: package updated
  apps/admin/next-env.d.ts
  apps/admin/package.json
  apps/desktop/package.json
  apps/docs/package.json
  apps/web/next-env.d.ts
  apps/web/package.json
  generator/package.json
  generator/templates/basic-js/package.json
  generator/templates/basic-ts/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/config/src/core/conf.ts
  packages/config/src/core/env.ts
  packages/config/src/core/flag.ts
  packages/config/src/plugins/esbuild/copy.ts
  packages/core/package.json
  packages/storage/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, utils

bump: vitest version
  apps/desktop/package.json
  apps/docs/package.json
  generator/templates/basic-js/package.json
  generator/templates/basic-ts/package.json
  packages/api/package.json
  packages/config/package.json
  packages/core/package.json
  packages/storage/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: config, core, utils

bump: vitest/coverage-v8 version
  apps/admin/package.json
  apps/desktop/package.json
  apps/docs/package.json
  generator/templates/basic-js/package.json
  generator/templates/basic-ts/package.json
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/config/src/get.ts
  packages/core/package.json
  packages/storage/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: cli, config, core, utils

Path conditions:
  build: any of: packages/build/
  cli: any of: packages/cli/
  config: any of: packages/config/
  core: any of: packages/core/
  logger: any of: packages/logger/
  utils: any of: packages/utils/
