Repository rjoydip/templ.rj: changes, and which Codecov flags are due for each by the changed paths.
All: build, cli, config, core, logger, utils

🔨 refactor(scripts): refactor-15 refactor mostly scripts code, drop knip, introduce type-coverage, package versions updated
  .better-commits.json
  .prettierignore
  .prettierrc
  CHANGELOG.md
  README.md
  cspell.json
  package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/clean.ts
  scripts/src/lint/index.ts
  scripts/src/lint/markdown.ts
  scripts/src/lint/type-cov.ts
  scripts/src/utils/index.ts
  templates/nextra/swr-site/package.json
Due: none

🧹 chore(scripts): nuxt apps create logic
  CHANGELOG.md
  cspell.json
  package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/create/index.ts
  scripts/src/create/stack/apps.ts
  templates/nextra/swr-site/package.json
Due: none

🔨 refactor(scripts): refactor-15 refactor mostly scripts code, drop knip, introduce type-coverage, package versions updated (#191)
  .better-commits.json
  .prettierignore
  .prettierrc
  CHANGELOG.md
  README.md
  cspell.json
  package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/clean.ts
  scripts/src/lint/index.ts
  scripts/src/lint/markdown.ts
  scripts/src/lint/type-cov.ts
  scripts/src/utils/index.ts
  templates/nextra/swr-site/package.json
Due: none

🧹 chore(scripts): nuxt apps create logic (#192)
  CHANGELOG.md
  cspell.json
  package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/create/index.ts
  scripts/src/create/stack/apps.ts
Due: none

chore: removed nextra template
  scripts/package.json
  scripts/src/create/stack/docs.ts
Due: none

🔨 refactor(none): refactor-16 regex pattern changed using magic-regexp
  .gitignore
  CHANGELOG.md
  artifacts/size-report.md
  scripts/src/ci/copy-env.ts
  scripts/src/ci/delete-env.ts
  scripts/src/clean.ts
  scripts/src/lint/index.ts
  scripts/src/lint/markdown.ts
  scripts/src/lint/type-cov.ts
  scripts/src/size/render.ts
  scripts/src/size/report.ts
  scripts/src/utils.ts
Due: none

🧹 chore(none): refactor-16 replace zod with valibot
  .better-commits.json
  packages/config/package.json
  packages/config/src/schema.ts
  packages/config/test/schema.test.ts
  pnpm-lock.yaml
Due: config

🧹 chore(packages): pactum package version update
  packages/api/package.json
  pnpm-lock.yaml
Due: none

🧹 chore(packages): pactum package version update (#194)
  packages/api/package.json
  pnpm-lock.yaml
Due: none

✨ feat(scripts): mintlify docs create script
  CHANGELOG.md
  artifacts/size-report.md
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/scripts.d.ts
  scripts/src/clean.ts
  scripts/src/create/index.ts
  scripts/src/create/stack/docs.ts
  scripts/src/create/stack/pkgs.ts
  scripts/src/size/render.ts
  scripts/src/utils.ts
  templates/basic-js/package.json
  templates/basic-ts/package.json
Due: cli, config, core, logger, utils

✨ feat(scripts): mintlify docs create script (#196)
  CHANGELOG.md
  artifacts/size-report.md
  packages/api/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/scripts.d.ts
  scripts/src/clean.ts
  scripts/src/create/index.ts
  scripts/src/create/stack/docs.ts
  scripts/src/create/stack/pkgs.ts
  scripts/src/size/render.ts
  scripts/src/utils.ts
  templates/basic-js/package.json
  templates/basic-ts/package.json
Due: cli, config, core, logger, utils

✨ feat(scripts): dynamic package manager options
  README.md
  package.json
  scripts/package.json
  scripts/src/create/index.ts
  scripts/src/utils.ts
Due: none

✨ feat(scripts): dynamic package manager options (#197)
  README.md
  package.json
  scripts/package.json
  scripts/src/create/index.ts
  scripts/src/utils.ts
Due: none

🐛 fix(scripts): refactor-17 bring back deleted ci:check:dist file
  scripts/src/ci/check-dist.ts
  scripts/src/ci/copy-env.ts
  scripts/src/ci/delete-env.ts
  scripts/src/lint/index.ts
Due: none

🐛 fix(packages): refactor-17 unit testing issue for v8 package missing
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: cli, config, core, logger, utils

🤖 ci(none): refactor-17 drop node20 for unit testing
  .github/workflows/ci.yml
Due: none

🐛 fix(none): tinybench added as benchmark tools
  artifacts/size-report.md
  benchmark/package.json
  benchmark/src/index.bench.ts
  benchmark/src/utils/path.bench.ts
  package.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/config/package.json
  packages/config/tsconfig.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/path.ts
  packages/utils/src/string.ts
  packages/utils/src/types.ts
  packages/utils/test/path.test.ts
  packages/utils/test/string.test.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/package.json
  scripts/src/ci/check-dist.ts
  scripts/src/ci/copy-env.ts
  scripts/src/ci/delete-env.ts
  scripts/src/clean.ts
  scripts/src/create/stack/index.ts
  scripts/src/lint/index.ts
  scripts/src/lint/markdown.ts
  scripts/src/lint/type-cov.ts
  scripts/src/size/render.ts
  scripts/src/size/report.ts
  scripts/src/utils.ts
  templates/basic-js/package.json
  templates/basic-ts/package.json
Due: cli, config, core, logger, utils

chore: better commit added benchmark
  .better-commits.json
Due: none

🧹 chore(none): refactor-18 fresh installed
  pnpm-lock.yaml
Due: none

🐛 fix(scripts): refactor-18 for ci build due to deps @templ/utils
  package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/ci/dist-check.ts
  scripts/src/ci/env-copy.ts
  scripts/src/ci/env-delete.ts
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  scripts/src/create/index.ts
  scripts/src/create/stack/apps.ts
  scripts/src/create/stack/docs.ts
  scripts/src/lint/size-report.ts
  scripts/src/lint/type-cov.ts
  scripts/src/utils.ts
  turbo.json
Due: none

🤖 ci(none): refactor-18 typo size report command
  .github/workflows/ci.yml
Due: none

🧹 chore(packages): refactor-18 cli testing dropped
  .github/workflows/ci.yml
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/test/index.test.ts
  packages/cli/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Due: cli

🧹 chore(packages): refactor-18 cli post build added
  packages/cli/package.json
Due: cli

🔨 refactor(none): refactor-18 reolace @clack/prompts log to consola
  .github/workflows/ci.yml
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/logger/README.md
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/logger/test/index.test.ts
  packages/logger/tsconfig.json
  packages/logger/vitest.config.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/ci/dist-check.ts
  scripts/src/ci/env-copy.ts
  scripts/src/ci/env-delete.ts
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  scripts/src/create/index.ts
  scripts/src/create/stack/apps.ts
  scripts/src/create/stack/docs.ts
  scripts/src/create/stack/index.ts
  scripts/src/create/stack/pkgs.ts
  scripts/src/dist-check.ts
  scripts/src/lint/size-limit.ts
  scripts/src/lint/size-report.ts
  scripts/src/lint/type-cov.ts
  scripts/src/utils.ts
Due: cli, logger

🧹 chore(none): refactor-18 turbo pipeline and npm script changed
  CHANGELOG.md
  apps/api/package.json
  benchmark/package.json
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  templates/basic-js/package.json
  templates/basic-ts/package.json
  turbo.json
Due: cli, config, core, utils

🔨 refactor(none): drop @clack/prompts with consola
  CHANGELOG.md
  apps/api/package.json
  package.json
  packages/cli/src/index.ts
  packages/config/package.json
  packages/core/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/ci/env-copy.ts
  scripts/src/ci/env-delete.ts
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  scripts/src/create/index.ts
  scripts/src/create/stack.ts
  scripts/src/create/stack/apps.ts
  scripts/src/create/stack/docs.ts
  scripts/src/create/stack/index.ts
  scripts/src/create/stack/pkgs.ts
  scripts/src/dist-check.ts
  scripts/src/lint/size-limit.ts
  scripts/src/lint/size-report.ts
  scripts/src/lint/type-cov.ts
  scripts/src/utils.ts
  templates/basic-js/package.json
  templates/basic-ts/package.json
Due: cli, config, core, utils

🔨 refactor(none): drop @clack/prompts with consola (#201)
  CHANGELOG.md
  apps/api/package.json
  package.json
  packages/cli/src/index.ts
  packages/config/package.json
  packages/core/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/ci/env-copy.ts
  scripts/src/ci/env-delete.ts
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  scripts/src/create/index.ts
  scripts/src/create/stack.ts
  scripts/src/create/stack/apps.ts
  scripts/src/create/stack/docs.ts
  scripts/src/create/stack/index.ts
  scripts/src/create/stack/pkgs.ts
  scripts/src/dist-check.ts
  scripts/src/lint/size-limit.ts
  scripts/src/lint/size-report.ts
  scripts/src/lint/type-cov.ts
  scripts/src/utils.ts
  templates/basic-js/package.json
  templates/basic-ts/package.json
Due: cli, config, core, utils

chore: made command function more generic
  scripts/src/create/stack.ts
  scripts/src/shell.ts
  scripts/src/utils.ts
Due: none

✨ feat(none): hono and autocannon benchmark
  .devcontainer/devcontainer.json
  .gitpod.yml
  .vscode/extensions.json
  CHANGELOG.md
  apps/api/.env.sample
  apps/server/.env.sample
  apps/server/README.md
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/test/api.test.ts
  apps/server/test/mocks/api.ts
  apps/server/tsconfig.json
  benchmark/package.json
  benchmark/src/apps/server.bench.ts
  benchmark/src/utils/path.bench.ts
  packages/cli/src/index.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/ci/env-copy.ts
  scripts/src/ci/env-delete.ts
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  scripts/src/create/stack.ts
  scripts/src/dist-check.ts
  scripts/src/lint/size-limit.ts
  scripts/src/lint/size-report.ts
  scripts/src/lint/type-cov.ts
  scripts/src/utils.ts
Due: cli

✨ feat(none): hono and autocannon benchmark (#202)
  .devcontainer/devcontainer.json
  .gitpod.yml
  .vscode/extensions.json
  CHANGELOG.md
  apps/api/.env.sample
  apps/server/.env.sample
  apps/server/README.md
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/test/api.test.ts
  apps/server/test/mocks/api.ts
  apps/server/tsconfig.json
  benchmark/package.json
  benchmark/src/apps/server.bench.ts
  benchmark/src/utils/path.bench.ts
  packages/cli/src/index.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/ci/env-copy.ts
  scripts/src/ci/env-delete.ts
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  scripts/src/create/stack.ts
  scripts/src/dist-check.ts
  scripts/src/lint/size-limit.ts
  scripts/src/lint/size-report.ts
  scripts/src/lint/type-cov.ts
  scripts/src/utils.ts
Due: cli

✨ feat(scripts): astro project created
  CHANGELOG.md
  apps/server/package.json
  benchmark/package.json
  package.json
  packages/cli/src/index.ts
  packages/config/test/index.test.ts
  packages/config/test/load.test.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/ci/env-copy.ts
  scripts/src/ci/env-delete.ts
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  scripts/src/create/app.ts
  scripts/src/create/doc.ts
  scripts/src/create/pkg.ts
  scripts/src/create/stack.ts
  scripts/src/dist-check.ts
  scripts/src/lint/size-limit.ts
  scripts/src/lint/size-report.ts
  scripts/src/lint/type-cov.ts
  scripts/src/utils.ts
  templates/basic-ts/package.json
Due: cli, config

feat: astro project created (#206)
  CHANGELOG.md
  apps/server/package.json
  benchmark/package.json
  package.json
  packages/cli/src/index.ts
  packages/config/test/index.test.ts
  packages/config/test/load.test.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/ci/env-copy.ts
  scripts/src/ci/env-delete.ts
  scripts/src/clean/others.ts
  scripts/src/clean/turbo.ts
  scripts/src/create/app.ts
  scripts/src/create/doc.ts
  scripts/src/create/pkg.ts
  scripts/src/create/stack.ts
  scripts/src/dist-check.ts
  scripts/src/lint/size-limit.ts
  scripts/src/lint/size-report.ts
  scripts/src/lint/type-cov.ts
  scripts/src/shell.ts
  scripts/src/utils.ts
  templates/basic-ts/package.json
Due: cli, config

🔨 refactor(none): refactor-19 separated cricket from script
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/package.json
  scripts/src/check.ts
  templ.code-workspace
  tools/.gitkeep
  tools/create/README.md
  tools/create/package.json
  tools/create/src/app.ts
  tools/create/src/doc.ts
  tools/create/src/pkg.ts
  tools/create/tsconfig.json
Due: none

Path conditions:
  build: any of: packages/build/
  cli: any of: packages/cli/
  config: any of: packages/config/
  core: any of: packages/core/
  logger: any of: packages/logger/
  utils: any of: packages/utils/
