Repository rjoydip/templ.rj: changes, and which Codecov flags are due for each by the changed paths.
All: build, cli, config, core, logger, utils

codecov.yml:

coverage:
  status:
    project:
      default: off
      build:
        flags:
          - build
      cli:
        flags:
          - cli
      config:
        flags:
          - config
      core:
        flags:
          - core
      logger:
        flags:
          - logger
      utils:
        flags:
          - utils

flags:
  build:
    paths:
      - packages/build/
  cli:
    paths:
      - packages/cli/
  config:
    paths:
      - packages/config/
  core:
    paths:
      - packages/core/
  logger:
    paths:
      - packages/logger/
  utils:
    paths:
      - packages/utils/

ci: removed add-review job
  .github/workflows/ci.yml
Due: none

removed: couple of unnecessery ci realted things
  .github/auto_assign.yml
  .github/labeler.yml
  .github/mergify.yml
Due: none

chore: removed build package
  packages/build/README.md
  packages/build/eslint.config.js
  packages/build/package.json
  packages/build/src/_esbuild.ts
  packages/build/src/cli.ts
  packages/build/src/index.ts
  packages/build/src/plugin/dts.ts
  packages/build/test/index.test.ts
  packages/build/tsconfig.json
  packages/build/tsup.config.ts
  packages/build/vitest.config.ts
Due: build

chore: removed build package (#103)
  packages/build/README.md
  packages/build/eslint.config.js
  packages/build/package.json
  packages/build/src/_esbuild.ts
  packages/build/src/cli.ts
  packages/build/src/index.ts
  packages/build/src/plugin/dts.ts
  packages/build/test/index.test.ts
  packages/build/tsconfig.json
  packages/build/tsup.config.ts
  packages/build/vitest.config.ts
Due: build

chore: readme updated by removing wrong snyk badge
  README.md
Due: none

refactor: dropped snyk
  .github/workflows/ci.yml
  .snyk
Due: none

chore: initial knip changes
  cspell.json
  knip.ts
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/config/src/_default.ts
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/_templates/package.json.hbs
  scripts/src/lint-md.ts
Due: cli, config, core, logger, utils

chore: lots of things has been refactored
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .vscode/tasks.json
  CHANGELOG.md
  README.md
  apps/docs/package.json
  apps/docs/typedoc/index.hbs
  apps/docs/typedoc/preview.ts
  knip.ts
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/config/src/_default.ts
  packages/config/src/get-config.ts
  packages/config/src/schema.ts
  packages/config/test/fixtures/1/templ.config.cjs
  packages/config/test/fixtures/2/templ.config.js
  packages/config/test/fixtures/3/templ.config.json
  packages/config/test/fixtures/4/templ.config.mjs
  packages/config/test/fixtures/5/templ.config.ts
  packages/config/test/fixtures/package.json
  packages/config/test/index.test.ts
  packages/config/test/load.test.ts
  packages/config/test/schema.test.ts
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/_templates/package.json.hbs
  scripts/package.json
  size-report.md
Due: cli, config, core, logger, utils

chore: refactor codebase little bit (#108)
  .github/workflows/ci.yml
  .snyk
  README.md
Due: none

chore: implemented knip in codebase
  CHANGELOG.md
  apps/docs/package.json
  knip.ts
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/config/test/schema.test.ts
  packages/core/package.json
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/size/report.ts
  size-report.md
Due: cli, config, core, logger, utils

chore: implemented knip in codebase (#109)
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .vscode/tasks.json
  CHANGELOG.md
  README.md
  apps/docs/package.json
  apps/docs/typedoc/index.hbs
  apps/docs/typedoc/preview.ts
  cspell.json
  knip.ts
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/config/src/_default.ts
  packages/config/src/get-config.ts
  packages/config/src/schema.ts
  packages/config/test/fixtures/1/templ.config.cjs
  packages/config/test/fixtures/2/templ.config.js
  packages/config/test/fixtures/3/templ.config.json
  packages/config/test/fixtures/4/templ.config.mjs
  packages/config/test/fixtures/5/templ.config.ts
  packages/config/test/fixtures/package.json
  packages/config/test/index.test.ts
  packages/config/test/load.test.ts
  packages/config/test/schema.test.ts
  packages/core/package.json
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/_templates/package.json.hbs
  scripts/package.json
  scripts/src/lint-md.ts
  scripts/src/size/report.ts
  size-report.md
Due: cli, config, core, logger, utils

fix(api): typo entrypoint
  packages/api/platformatic.runtime.json
Due: none

ci: condition applied on job, job won't run if PR generate by dependabot
  .github/workflows/ci.yml
  .github/workflows/first-interaction.yml
Due: none

ci: condition applied on job, job won't run if PR generate by dependabot (#116)
  .github/workflows/ci.yml
  .github/workflows/first-interaction.yml
Due: none

chore: update packages
  CHANGELOG.md
  package.json
  packages/api/package.json
  packages/api/services/main/package.json
  packages/api/services/quotes/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, logger, utils

fix: build issue in CI for missing .env file
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  package.json
  packages/config/package.json
  packages/utils/src/escalade.ts
  packages/utils/src/escalade/async.ts
  packages/utils/src/escalade/sync.ts
  packages/utils/src/index.ts
  packages/utils/src/path.ts
  packages/utils/test/escalade.test.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/src/ci/copy-env.ts
  scripts/src/ci/delete-env.ts
Due: config, utils

chore: eslint config on root and removed from individual packages
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/actions/setup-node/action.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/pr-title-checker-config.json
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/schedule.yml
  .gitpod.yml
  .vscode/settings.json
  apps/docs/eslint.config.js
  apps/docs/package.json
  eslint.config.js
  knip.ts
  package.json
  packages/cli/eslint.config.js
  packages/cli/package.json
  packages/config/eslint.config.js
  packages/config/package.json
  packages/core/eslint.config.js
  packages/core/package.json
  packages/logger/eslint.config.js
  packages/logger/package.json
  packages/utils/eslint.config.js
  packages/utils/package.json
  packages/utils/test/escalade.test.ts
  pnpm-lock.yaml
  scripts/package.json
Due: cli, config, core, logger, utils

fix: lint issue on ci
  packages/cli/test/index.test.ts
  packages/config/test/index.test.ts
  packages/config/test/load.test.ts
  packages/config/test/schema.test.ts
  packages/core/test/index.test.ts
  packages/logger/test/index.test.ts
  packages/utils/test/constants.test.ts
  packages/utils/test/error.test.ts
  packages/utils/test/escalade.test.ts
  packages/utils/test/index.test.ts
  packages/utils/test/is.test.ts
  packages/utils/test/path.test.ts
Due: cli, config, core, logger, utils

chore: configured size-limit from root
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  packages/utils/src/escalade.ts
  pnpm-lock.yaml
  scripts/_templates/package.json.hbs
Due: cli, config, core, logger, utils

ci: changed the depedency
  .github/workflows/ci.yml
Due: none

chore: changed path
  package.json
Due: none

fix: typo npm lint script
  package.json
Due: none

chore: ci change for lint issue
  .github/workflows/ci.yml
  scripts/package.json
  scripts/src/ci/dist-checking.ts
Due: none

chore: ci build and lint job combined
  .github/workflows/ci.yml
Due: none

chore: couple of modification on ci and root package scripts
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/package.json
  scripts/src/ci/check-dist.ts
Due: cli, config, core, logger, utils

ci: job name multi word changed [skip ci]
  .github/workflows/ci.yml
Due: none

ci: build job typo
  .github/workflows/ci.yml
Due: none

ci: build job size_report
  .github/workflows/ci.yml
  scripts/src/ci/check-dist.ts
Due: none

ci: fix node version issue
  .github/workflows/ci.yml
Due: none

ci: fix node version changed on size report job
  .github/workflows/ci.yml
Due: none

ci: fix pnpm setup on size report job
  .github/workflows/ci.yml
Due: none

chore: removed taze config file from root and enhaanced the CLI
  package.json
  taze.config.js
Due: none

chore: basic setup script added
  CHANGELOG.md
  package.json
  packages/api/package.json
  packages/api/services/main/package.json
  packages/api/services/quotes/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  scripts/_templates/package.json.hbs
  scripts/package.json
  scripts/setup.js
Due: cli

chore: setup lint and all steps changed
  CHANGELOG.md
  cspell.json
  package.json
  packages/api/package.json
  packages/api/services/main/package.json
  packages/api/services/quotes/package.json
  pnpm-lock.yaml
  scripts/js/constant.js
  scripts/js/exec/all.js
  scripts/js/exec/lint.js
  scripts/js/exec/setup.js
  scripts/js/utils.js
  scripts/setup.js
  size-report.md
Due: none

fix: the .js file import issue
  package.json
  scripts/js/all.js
  scripts/js/constant.js
  scripts/js/lint.js
  scripts/js/setup.js
  scripts/js/utils.js
Due: none

chore: npm script modification and project title
  README.md
  package.json
  scripts/js/lint.js
Due: none

chore: root package json file description change
  package.json
Due: none
